body{
    background:linear-gradient(to right,#2a1b3d,red)
}
header{ 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    display:block;
    margin-bottom: 10px;
    background-color: inherit;
    color: white;
    padding-bottom: 4px;
    padding-top: 1px;
    padding-left: 12px;
    
}
#external{
    text-align: center;
    margin: 10px;
    background-color: inherit;
    padding: 30px;
    
}
.externally{
    padding:20px;
    text-align: center;
    background-color:#afd275;
    border-radius:20px ;
    margin-right: 10px;
    box-shadow: 3px black;
    font-size: 25px;
    border: 0px;


}
.externally:hover{
    background-color:lightblue ;
}
